#sign_in1 {
    border: black;
    background-color: dimgray;
    color: white;
    font-size: large;
    width: 10%;
    height: 25px;
}





.head {
    margin-left: auto;
    margin-right: auto;
     text-align: center;
}
 .flname {
     text-align: center

 }
 #f1 {
     text-align: center
 }
 #f2 {
     text-align: center
 }


 .buttonS {
     border: black;
     background-color: dimgray;
     color: white;
     font-size: large;
     width: 10%;
     height: 25px;
 }
 body {
     background-color: darkgray;
 }
 .submit {
     width: 15%;

     background-color: darkgreen;
     border: none;
     color: white;
     padding: 16px 32px;
     text-decoration: none;
     margin: 4px 2px;
     cursor: pointer;
     font-size: medium;
     text-align: center
 }

 input[type=text]{
     width: 15%;
     height: 25px;
     background-color: white;
     border: none;
     color: dimgray;
     padding: 16px 32px;
     text-decoration: none;
     margin: 4px 2px;
     cursor: pointer;
     font-size: medium;
 }
 input[type=password], input[type=email]{

     height: 25px;
     width: 33.8%;
     background-color: white;
     border: none;
     color: dimgray;
     padding: 16px 32px;
     text-decoration: none;
     margin: 4px 2px;
     cursor: pointer;
     font-size: medium;
 }
.submit1 {
    width: 10%;

    background-color: darkgreen;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: medium;
    text-align: center
}
.submit2 {
    width: 10%;

    background-color: gray;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: medium;
    text-align: center
}